In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel('Book1.xlsx')

In [ ]:
data

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Unnamed: 13,Unnamed: 14
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store,NaN,NaN
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store,NaN,NaN
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store,NaN,NaN
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store,NaN,NaN
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store,NaN,Hiệu quả
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet,NaN,NaN
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet,NaN,NaN
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet,NaN,NaN
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet,NaN,NaN
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet,NaN,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Retailer                  9648 non-null   object
 1   Retailer ID               9648 non-null   object
 2   Invoice Date              9648 non-null   datetime64[ns]
 3   Region                    9648 non-null   object
 4   State                     9648 non-null   object
 5   City                      9648 non-null   object
 6   Product                   9648 non-null   object
 7   Price per Unit            9648 non-null   float64
 8   Units Sold                9648 non-null   int64
 9   Total Sales               9648 non-null   float64
 10  Operating Profit          9648 non-null   float64
 11  Operating Margin          9648 non-null   float64
 12  Sales Method              9648 non-null   object
 13  Quarter                   9648 non-null   int64
 14  Year                      9648 non-null   int64
 15  Gender                    9648 non-null   object
 16  Product_type              9648 non-null   object
 17  Profit_efficiency         9648 non-null   object
 18  Average_operating_margin  9648 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(10)
memory usage: 1.4+ MB

In [ ]:
# Set datatype cho từng cột
data['Retailer'] = data['Retailer'].astype(str)
data['Retailer ID'] = data['Retailer ID'].astype(str)
data['Invoice Date'] = pd.to_datetime(data['Invoice Date'])
data['Region'] = data['Region'].astype(str)
data['State'] = data['State'].astype(str)
data['City'] = data['City'].astype(str)
data['Product'] = data['Product'].astype(str)
data['Price per Unit'] = data['Price per Unit'].astype(float)
data['Units Sold'] = data['Units Sold'].astype(int)
data['Total Sales'] = data['Total Sales'].astype(float)
data['Operating Profit'] = data['Operating Profit'].astype(float)
data['Operating Margin'] = data['Operating Margin'].astype(float)
data['Sales Method'] = data['Sales Method'].astype(str)

In [ ]:
data

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Unnamed: 13,Unnamed: 14
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store,NaN,NaN
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store,NaN,NaN
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store,NaN,NaN
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store,NaN,NaN
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store,NaN,Hiệu quả
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet,NaN,NaN
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet,NaN,NaN
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet,NaN,NaN
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet,NaN,NaN
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet,NaN,NaN

In [ ]:
# Tạo cột "Quarter" và "Year" từ cột "Date"
data['Quarter'] = pd.to_datetime(data['Invoice Date']).dt.quarter
data['Year'] = pd.to_datetime(data['Invoice Date']).dt.year

In [ ]:
# Tách dữ liệu từ cột "Product" thành "Gender" và "Product_type"
data['Gender'] = data['Product'].str.split("'s").str[0]
data['Product_type'] = data['Product'].str.split("'s").str[1]

In [ ]:
# Tính trung bình của cột "Operating Margin"
mean_operating_margin = data['Operating Margin'].mean()
# Hàm để kiểm tra điều kiện và tạo giá trị cho cột "Profit_efficiency"
def profit_efficiency(row):
    if row['Operating Margin'] > mean_operating_margin:
        return'Efficient'
    else:
        return 'Inefficient'

# Áp dụng hàm "profit_efficiency" vào DataFrame
data['Profit_efficiency'] = data.apply(profit_efficiency, axis=1)

In [ ]:
data.dropna()

Empty DataFrame
Columns: [Retailer, Retailer ID, Invoice Date, Region, State, City, Product, Price per Unit, Units Sold, Total Sales, Operating Profit, Operating Margin, Sales Method, Unnamed: 13, Unnamed: 14, Quarter, Year, Gender, Product_type, Average_operating_margin, Profit_efficiency]
Index: []

[0 rows x 21 columns]

In [ ]:
data.drop(columns = 'Unnamed: 14', inplace=True)

In [ ]:
data

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Quarter,Year,Gender,Product_type,Average_operating_margin,Profit_efficiency
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store,1,2020,Men,Street Footwear,0.422991,Efficient
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store,1,2020,Men,Athletic Footwear,0.422991,Inefficient
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store,1,2020,Women,Street Footwear,0.422991,Inefficient
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store,1,2020,Women,Athletic Footwear,0.422991,Inefficient
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store,1,2020,Men,Apparel,0.422991,Inefficient
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet,1,2021,Men,Apparel,0.422991,Inefficient
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet,1,2021,Women,Apparel,0.422991,Inefficient
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet,1,2021,Men,Street Footwear,0.422991,Inefficient
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet,1,2021,Men,Athletic Footwear,0.422991,Inefficient
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet,1,2021,Women,Street Footwear,0.422991,Inefficient

In [ ]:
data.to_csv('Adidas_adjusting.csv', index=False)